
body {
        background-size: cover;
	background-repeat:no-repeat;
        background-color: #CEF6F5;
	line-height: 200%;
	background-image: url("山水画02.jpg");
	font-weight: bold;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
