* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}
mark{
    background-color: rgba(0,0,0,0.00);
    color: aliceblue;
}
html {
  /* 需要隐藏最外层不可见区域以使视差生效 */
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  perspective: 100px;
  transform-style: preserve-3d;
  /* 3D的容器要允许overflow才能生效 */
  overflow-y: auto;
}
/*header{
    display: flex;
    flex-direction: column;
    align-content: center;
}*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-item ,.list-item_home{
  
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.list-item:hover .item-image::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.item-image {
  
  width:100%;
  height: auto;
  transform: translateZ(-100px) scale(2);
  z-index: -1;
  position: relative;
}
/*.item-image_out{
    width:100%;
    height: auto;
    z-index: -1;
}*/

.item-image::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, .4);
}

.item-image img {
  display: inline-flex;
  width: 100%;
  object-fit: cover;
}

.item-text_left{
    position: absolute;
    z-index: 22;
    left:15%;
    right:15%;
    top:20%;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #ffffff;

}

.item-text_home{
    position: absolute;
    z-index: 22;
    left:28%;
    right: auto;
    top:40%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    
    text-align: center;
    color: #ffffff;
}
.item-text{
    position: absolute;
    z-index: 22;
    left:15%;
    right:15%;
    top:20%;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #ffffff;
}
/*给字体下面加一层不透明*/
.item-title {
    font-size: 2.2em;
    font-weight: bolder;
    box-shadow   : 5px 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}
.item-title_train{
    font-size: 2.2em;
    font-weight: bolder;
    width:auto;
    box-shadow   : 5px 5px 10px rgba(0, 0, 0, 0.6);
    padding: 25px;
    
}

.item-title_diet{
    font-size: 2.2em;
    font-weight: bolder;
    width:auto;
    box-shadow   : 5px 5px 10px rgba(0, 0, 0, 0.6);
    padding: 25px;
}
.item-title_life{
    font-size: 2.2em;
    font-weight: bolder;
    width:auto;
    box-shadow   : 5px 5px 10px rgba(0, 0, 0, 0.6);
    padding: 25px;
}
.item-title_link{
    font-size: 2.2em;
    font-weight: bolder;
    width:auto;
    box-shadow   : 5px 5px 10px rgba(0, 0, 0, 0.6);
    
    padding: 25px;
}
/**/
    
.item-desc_home{
    font-size: 2.2rem;
    font-weight: bolder;
}
.item-desc{
    text-indent:2em;
    font-size: 3rem;
    margin-top: 40px;
    line-height: 2;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}
.item-desc_bottem{
    text-indent:2em;
    font-size: 3rem;
    margin-top: 40px;
    line-height: 2;
    
    
}


a{
    text-decoration: none;
    color:aliceblue;
}
a:hover{
    color           :aqua  ;
}
.bt {
    margin-bottom: 30px;
}
.bt3 {
    position: relative;

    width : auto;
    height: auto;

    background-color: rgba(0,0,0,0);

    display        : flex;
    justify-content:flex-start;
    align-items    : center;

    border-radius: 20px;

    font-weight: bold;

    color:aliceblue;

    transition: all 0.5s;
}

.bt3:hover {
    border-radius   : 50px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow   : 5px 5px 10px rgba(0, 0, 0, 0.6);
    color           :aqua  ;
}
.bt3_new {
    position: relative;

    width : auto;
    height: auto;

    background-color: rgba(0,0,0,0);

    display        : flex;
    justify-content:flex-start;
    align-items    : center;

    border-radius: 20px;

    font-weight: bold;

    color:aliceblue;

    transition: all 0.5s;
}

.bt3_new:hover {
    border-radius   : 50px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow   : 5px 5px 10px rgba(0, 0, 0, 0.6);
    color           :aquamarine;
}